.home-page{
    margin: 0 10px 0 10px;
    .home-popular{
        .popular-header{
        text-align: center;
        };
        .pop-album{
            text-align: center;
            margin: 2px
        };
        background-color: lightgray;
        padding: 5px;
        margin-bottom: 5px
    };
    .popular-artists{
        padding: 5px;
        margin-bottom: 5px;
        width: 49.8%;
        background-color: lightpink;
        .title{
            text-align: center
        }
    };
    .popular-singles{
        padding: 5px;
        width: 49.8%;
        float: right;
        background-color: lightsteelblue;
        .title{
            text-align: center
        }
    }
    
}